{% extends 'base.html' %}

{% block title %}Formulário do Produto{% endblock %}

{% block content %}

<h1 class="text-center">
  {% if form.instance.pk %}
    Editar Produto
  {% else %}
    Criar Produto
  {% endif %}
</h1>
<div class="d-flex justify-content-between align-items-center mb-3">
  <h3>Formulário</h3>
  <div>
    <a href="{% url 'category_create' %}" class="btn btn-primary">Adicionar Categoria</a>
    <a href="{% url 'supplier_create' %}" class="btn btn-primary">Adicionar Fornecedor</a>
  </div>
</div>

<form method="post" novalidate>
  {% csrf_token %}
  {{ form.as_p }}

  <div class="mb-3">
    <label for="category" class="form-label">Categoria</label>
    <select id="category" name="category" class="form-control" required>
        <option value="">-- Selecione uma categoria --</option>
        {% for category in categories %}
        <option value="{{ category.id }}" {% if form.category.value|stringformat:"s" == category.id|stringformat:"s" %}selected{% endif %}>
            {{ category.name }}
        </option>
        {% endfor %}
    </select>
    {% if form.category.errors %}
    <div class="alert alert-danger">{{ form.category.errors }}</div>
    {% endif %}
  </div>

  <div class="mb-3">
    <label for="supplier" class="form-label">Fornecedor</label>
    <select id="supplier" name="supplier" class="form-control" required>
        <option value="">-- Selecione um fornecedor --</option>
        {% for supplier in suppliers %}
        <option value="{{ supplier.id }}" {% if form.supplier.value|stringformat:"s" == supplier.id|stringformat:"s" %}selected{% endif %}>
            {{ supplier.name }}
        </option>
        {% endfor %}
    </select>
    {% if form.supplier.errors %}
    <div class="alert alert-danger">{{ form.supplier.errors }}</div>
    {% endif %}
  </div>

  <button type="submit" class="btn btn-primary">
    Salvar
  </button>
  <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancelar</a>

</form>

{% endblock %}